@import 'tailwindcss';
@import './fonts.css';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    /*Шрифты (можно что-то добавить)*/
    --font-sans: 'Ubuntu', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    /*Цвета темы*/
    --color-primary: #8ee902;
    --color-mainBg:#474747;
    --color-gradient:linear-gradient(180deg, #8ee902 0%, #4f9c2c 100%);
    --color-gradient-hover: linear-gradient(180deg, #8ee902 0%, #4f9c2c 100%);

    --color-primary-orange: #F4683F;


}
@layer base {
    body {
        /*background-color: #F8F7F8;*/
    }
}
main {
    flex: 1;
}
.app-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
